[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pyyaml = "*"

[requires]
python_version = "3"

[dev-packages]
flask = "*"
pytest = "*"
pylint = "*"
invoke = "*"
pytest-cov = "*"
pycodestyle = "*"
